@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media (min-width: 375px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Space Mono', monospace;
    background-color: #add8e6;
    height: 100vh;
    /* background-image: url(images/logo.svg);
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position: top 0 left 50%; */
  }
  .container {
    width: 100%;
    background-color: #fff;
    padding: 32px 16px 32px 32px;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
  }
  .logo {
    padding: 200px 145px 20px 144px;
  }
  .bill {
    padding: 0 0 32px 0;
  }
  .bill-amount,
  .people,
  .tip {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #5e7a7d;
  }

  .tip {
    padding-bottom: 22px;
  }
  .bill-amount {
    padding: 0 296px 6px 0;
  }
  .select-tip {
    width: 95%;
  }
  .guess {
    width: 95%;
    min-height: 48px;
    background-color: #f3f9fa;
    border: none;
    border-radius: 5px;
    background-image: url(images/icon-dollar.svg);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    background-size: 15px;
    border: none;
    appearance: none;
    text-align: right;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    outline: none;
    color: #00474b;
    padding-right: 10px;
  }

  .guess[type='number']::-webkit-inner-spin-button,
  .guess[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .btn {
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;

    background-color: #00474b;
    color: #fff;

    text-align: center;

    height: 48px;
    border-radius: 5px;
    cursor: pointer;
  }
  .btn.active {
    border-radius: 5px;
    border: none;
    background-color: #26c2ae;
    cursor: pointer;
  }
  .fifteen {
    background-color: #26c2ae;
    color: #00474b;
    cursor: pointer;
  }
  .costum {
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    text-align: right;
    color: #00474b;
    background-color: #f3f9fa;
    width: 100%;
    text-align: right;
    border-radius: 5px;
    padding-right: 16px;
    border: none;
    outline: none;
    padding-right: 10px;
  }
  .costum:hover,
  .guess:hover {
    outline: 2px solid #26c2ae;
  }
  .costum[type='number']::-webkit-inner-spin-button,
  .costum[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .percents {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 17px;
  }
  .people-amount {
    padding: 32px 0 1px 0;
  }
  .people {
    padding-bottom: 6px;
  }
  .second-input {
    width: 95%;
    min-height: 48px;
    background-color: #f3f9fa;
    border: none;
    border-radius: 5px;
    background-image: url(images/icon-person.svg);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 10px 10px;
    text-align: right;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    border: none;
    border-radius: 5px;
    outline: none;
    color: #00474b;
    padding-right: 10px;
  }
  .second-input[type='number']::-webkit-inner-spin-button,
  .second-input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .people-input {
    padding: 0 0 32px 0;
  }
  .result {
    width: 95%;
    background-color: #00474b;
    padding: 39px 22px 24px 24px;
    border-radius: 15px;
  }
  .p {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #fff;
  }
  .person {
    color: #7f9d9f;

    font-size: 13px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
  }
  .reset {
    width: 100%;
    font-family: Space Mono;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: center;
    background-color: #26c2ae;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 9px 0 9px 0;
    cursor: pointer;
    color: #00474b;
  }
  .reset :hover {
    background-color: #9fe8df;
  }
  .div-1 {
    padding-bottom: 25px;
  }
  .div-2 {
    padding-bottom: 35px;
  }
  .div-1,
  .div-2 {
    display: flex;
    justify-content: space-between;
  }
  .span {
    color: #26c2ae;
    font-size: 32px;
    font-weight: 700;
    align-items: top;
  }
  .span-2 {
    color: #26c2ae;
    font-size: 32px;
    font-weight: 700;
    align-items: top;
  }
  .messages {
    display: flex;

    justify-content: space-between;
  }
  .error {
    color: red;
    display: none;
    font-family: Space Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: right;
    margin-right: 40px;
  }

  @media (min-width: 763px) {
    .container {
      display: flex;
      max-width: 920px;
      height: 481px;
    }
    .percents {
      grid-template-columns: 1fr 1fr 1fr;
    }
    .reset {
      margin-top: 120px;
    }
  }
}
